body {
    margin: 0;
    text-align: center;
}
.alinhamento {
    display: flex;
    justify-content: space-around;
    width: 1000px;
    margin: 0 auto;
    flex-basis: 250px;
    flex-wrap: wrap;
}
img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 2px solid black;
}
.descrição {
    display: flex;
    justify-content: space-around;
    flex-basis: 200px;
    text-align: justify;
}
